<!DOCTYPE html>
<html>
<head>
    <title>Search Assets</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default container-fluid" id="navbar">
        <ul class="nav navbar-nav">
            <li><img class="padding" src="logo_noBackground.png" alt="logo"></li>
            {{!-- <li><a onclick="toggle_advanced_search()">Advanced Search</a></li> --}}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding: 10px;">
            {{#if loggedin}}
                <li><span class="font1" style="margin-right: 20px; color: black;">Signed in as {{firstname}} {{lastname}} </span></span></li>
                <li><form action="/logout"><button type="submit" class="font1 logout_button" style="margin-right: 20px;">Logout</button></form></li>
            {{else}}
                <li><form action="/auth"><button type="submit" class="font1 logout_button" style="margin-right: 20px;">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button></form></li>
            {{/if}}
        </ul>
    </nav>

    {{#if authorized}}
        <h1>Add New Asset</h1>
        {{#each asset}}
            <form name="add_form" id="new_asset" class="form" action="new_asset_result" method="get">
                <div class="form-group">
                    <label>Asset ID</label>
                    <input readonly="readonly" class="form-control" name="id"  value="{{this.id}}">
                </div>
                <div class="form-group">
                    <label>Asset Name <span style="color:red;">*</span></label>
                    <input class="form-control" type="text" name="name" required>
                </div>
                <div class="form-group">
                    <label>Asset Type <span style="color:red;">*</span></label>
                    <select class="form-control" name="type" value="Select" required>
                        <option value = "1">Computer Server</option>
                        <option value = "2">Desktop</option>
                        <option value = "3">Laptop</option>
                        <option value = "4">Biotech Machine</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Purchase Date <span style="color:red;">*</span></label>
                    <input class="form-control" type="date" name="purchase_date" required>
                </div>
                <div class="form-group">
                    <label>Purchase Price without $ (USD)</label>
                    <input class="form-control" type="number" step="0.01" name="purchase_price">
                </div>
                <div class="form-group">
                    <label>Manufacturer</label>
                    <input class="form-control" type="text" name="manu">
                </div>
                <div class="form-group">
                    <label>Support Expiration</label>
                    <input class="form-control" type="text" name="s_expire">
                </div>
                <div class="form-group">
                    <label>Annual Support Cost</label>
                    <input class="form-control" type="number" step="0.01" name="annual_s_cost">
                </div>
                <div class="form-group">
                    <label>Depreciation Schedule</label>
                    <input class="form-control" type="text" name="depre_sched">
                </div>
                <div class="form-group">
                    <label>Depreciated Amount</label>
                    <input class="form-control" type="number" step="0.01" name="depre_amount">
                </div>
                <div class="form-group">
                    <label>Residual Value</label>
                    <input class="form-control" type="number" step="0.01" name="res_val">
                </div>
                <div class="form-group">
                    <label>Firmware Level</label>
                    <input class="form-control" type="text" name="firmware_lvl">
                </div>
                <div class="form-group">
                    <label>OS Type</label>
                    <input class="form-control" type="text" name="os_type">
                </div>
                <div class="form-group">
                    <label>OS Version</label>
                    <input class="form-control" type="text" name="os_ver">
                </div>
                <div class="form-group">
                    <label>Support Contact</label>
                    <input class="form-control" type="text" name="s_con">
                </div>
                <div class="form-group">
                    <label>Department</label>
                    <input class="form-control" type="text" name="dep">
                </div>
                <div class="form-group">
                    <label>Salution Name</label>
                    <input class="form-control" type="text" name="sal_name">
                </div>
                <div class="form-group">
                    <label>Serial Number</label>
                    <input class="form-control" type="text" name="serial">
                </div>
                <div class="form-group">
                    <label>Internal Contact</label>
                    <input class="form-control" type="text" name="internal_con">
                </div>
                <p style="color:red;">Required fields are marked with *</p>
                <button type="submit" class="button">Done</button>
            </form>
        {{/each}}
    {{else}}
        <p class='font1'>You are not authorized to view this material. Please sign in and try again.</p>
    {{/if}}

    <script>
        function validateAddForm() {
            var p_date = document.forms["add_form"]["purchase_date"].value;
            if (!(/^\d{4}-\d{2}-\d{2}$/).test(p_date)) {
                alert("Please enter a valid date");
                return false;
            }
            var p_price = document.forms["add_form"]["purchase_price"].value;
            if (!(/^\d*(\.\d{2})?$/).test(p_price)) {
                alert("Please enter a valid price");
                return false;
            }
        }; 
    </script>
</body>
</html>