<!DOCTYPE html>
<html>
<head>
    <title>Assets Complete List</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet">
</head>
    <body>
        <nav class="navbar navbar-default container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown" id="dropdown_search">
                    <a href="#" id="search_menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search by Category <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="dropdown_option_0" class="dropdown_option" onclick="selectOption(0)">Search by Category</li>
                        <li role="separator" class="divider"></li>
                        <li id="dropdown_option_1" class="dropdown_option" onclick="selectOption(1)">Computer Server</li>
                        <li id="dropdown_option_2" class="dropdown_option" onclick="selectOption(2)">Desktop</li>
                        <li id="dropdown_option_3" class="dropdown_option" onclick="selectOption(3)">Laptop</li>
                        <li id="dropdown_option_4" class="dropdown_option" onclick="selectOption(4)">Biotech Machine</li>
                    </ul>
                </li>
                <li id="dropdown_button"><button type="button" class="btn btn-default" onclick="search_by_category()">Submit</button></li>
                <li><a onclick="toggle_advanced_search()">Advanced Search</a></li>
            </ul>
        </nav>

        <div id="advanced_search" style="display: none;">
            <form action="advanced_search_result" method="get">
                <p>Asset ID <input type="text" name="id"></p>
                <p>Asset Name <input type="text" name="name"></p>
                <p>
                    <label>Asset Type</label>
                    <select id = "asset_type">
                        <option value = "0">Select</option>
                        <option value = "1">Computer Server</option>
                        <option value = "2">Desktop</option>
                        <option value = "3">Laptop</option>
                        <option value = "4">Biotech Machine</option>
                    </select>
                </p>
            </form>
            <button type="button" onclick="advanced_search_result()">Search</button>
        </div>

        <div class="container" id="main_table">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Asset Name</th>
                    <th>Asset Type</th>
                    <th>Purchase Date</th>
                    <th></th>
                </tr>
                {{#each asset}}
                <div id="asset_{{this.id}}">
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.type}}</td>
                        <td>{{this.purchase_date}}</td>
                        <td><button type="button" id="toggle_{{this.id}}" class="expand_button" onclick="expand({{this.id}})"><span class="caret"></span></button></td>
                    </tr>
                    <tr>
                        <td colspan="5" id="{{this.id}}" style="display: none;">
                            <div>
                                <span class="bold">Purchase Price:</span> {{this.purchase_price}} <br>
                                <button type="button" onclick="edit_info({{this.id}})" class="btn btn-default">Edit</button>
                            </div>
                        </td>
                    </tr>
                </div>
                {{/each}}
            </table>

            <button type="button" onclick="add_new()" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" async></script>

        <script type="text/javascript">
            
            // FUNCTION FOR RESPONDING TO BUTTON PRESS
            // $("#toggle_").click(function(){
            //    $("#135").slideToggle();
            // });
            function expand(id) {
                $("#"+id).slideToggle();
            }

            var selected = 0;
            function selectOption(op) {
                selected = op;
                document.getElementById('search_menu').innerHTML = document.getElementById('dropdown_option_'+op).innerHTML + " <span class='caret'>";
            }

            function search_by_category() {
                if (selected != 0) {
                    var ajax_params = {
                        'url' : "http://localhost:8000/category_search_result",
                        'type' : "get",
                        'data' : {'type_id' : selected},
                        'success' : onServerResponse
                    }
                    $.ajax( ajax_params ); 
                }
                else {
                    location.reload();
                }
            }
            function onServerResponse (responseObj) {
                document.getElementById('main_table').innerHTML = responseObj;
            };

            function toggle_advanced_search() {
                $("#advanced_search").slideToggle();
            }

            function advanced_search_result() {
                var id = document.querySelector('input[name="id"]').value;
                var name = document.querySelector('input[name="name"]').value;
                var type = document.getElementById('asset_type').value;  // not sure ?
                // var form_string = $("#the_form").serialize();
                var ajax_params = {
                    'url' : "http://localhost:8000/advanced_search_result",
                    'type' : "get",
                    'data' : {'id' : id, 'name' : name, "type" : type},
                    'success' : onServerResponse1
                }
                $.ajax( ajax_params ); 
            }
            function onServerResponse1 (responseObj) {
                document.getElementById('main_table').innerHTML = responseObj;
            };

            function edit_info(id) {
                var ajax_params = {
                    'url' : "http://localhost:8000/edit_form",
                    'type' : "get",
                    'data' : {'id' : id},
                    'success' : onServerResponse2
                }
                $.ajax( ajax_params ); 
            }
            function onServerResponse2 (responseObj) {
                document.getElementById('main_table').innerHTML = responseObj;
            };

            function add_new() {
                var ajax_params = {
                    'url' : "http://localhost:8000/add_new",
                    'type' : "get",
                    'data' : {},
                    'success' : onServerResponse3
                }
                $.ajax( ajax_params ); 
            }
            function onServerResponse3 (responseObj) {
                document.getElementById('main_table').innerHTML = responseObj;
            };

            function validateEditForm() {
                var p_date = document.forms["edit_form"]["purchase_date"].value;
                if (!(/^\d{4}-\d{2}-\d{2}$/).test(p_date)) {
                    alert("Please enter a valid date");
                    return false;
                }
                var p_price = document.forms["edit_form"]["purchase_price"].value;
                if (!(/^\d*(\.\d{2})?$/).test(p_price)) {
                    alert("Please enter a valid price");
                    return false;
                }
            };

            function validateAddForm() {
                var p_date = document.forms["add_form"]["purchase_date"].value;
                if (!(/^\d{4}-\d{2}-\d{2}$/).test(p_date)) {
                    alert("Please enter a valid date");
                    return false;
                }
                var p_price = document.forms["add_form"]["purchase_price"].value;
                if (!(/^\d*(\.\d{2})?$/).test(p_price)) {
                    alert("Please enter a valid price");
                    return false;
                }
            };

        </script>
            {{!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>--}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    </body>
</html> 