    <table id="main_table" class="table table-hover">
        <tr class="no_hover">
            <th>ID</th>
            <th>Asset Name</th>
            <th>Asset Type</th>
            <th>Purchase Date</th>
            <th></th>
        </tr>
        {{#each asset}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.type}}</td>
                <td>{{this.purchase_date}}</td>
                <td><button type="button" id="toggle_{{this.id}}" class="expand_button" onclick="expand({{this.id}})"><span class="caret"></span></button></td>
            </tr>
            <tr>
                <td colspan="2" id="{{this.id}}_col1" style="display: none;">
                    <div>
                        <span class="bold">Purchase Price:</span> {{this.purchase_price}} <br>
                        <span class="bold">Manufacturer:</span> {{this.manu}} <br>
                        <span class="bold">Support Expiration:</span> {{this.s_expire}} <br>
                        <span class="bold">Annual Support cost:</span> {{this.annual_s_cost}} <br>
                        <span class="bold">Depreciation Schedule:</span> {{this.dep_sched}} <br>
                        <span class="bold">Depreciated Amount:</span> {{this.dep_amount}} <br>
                        <span class="bold">Residual Value:</span> {{this.res_val}} <br>
                        <button type="button" onclick="edit_info({{this.id}})" class="btn btn-default">Edit</button>
                    </div>
                </td>
                <td colspan="3" id="{{this.id}}_col2" style="display: none;">
                    <div>

                        <span class="bold">Firmware Level:</span> {{this.firmware_lvl}} <br>
                        <span class="bold">OS Type:</span> {{this.os_type}} <br>
                        <span class="bold">OS Version:</span> {{this.os_ver}} <br>
                        <span class="bold">Support Contact:</span> {{this.s_con}} <br>
                        <span class="bold">Department:</span> {{this.dep}} <br>
                        <span class="bold">Salution Name:</span> {{this.sal_name}} <br>
                        <span class="bold">Serial Number:</span> {{this.serial}} <br>
                        <span class="bold">Internal Contact:</span> {{this.internal_con}} <br>
                    </div>
                </td>
            </tr>
        {{/each}}
    </table>
