<!DOCTYPE html>
<html>
<head>
    <title>Search Assets</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
    {{#if loggedin}}
    <div id="timeout" class="myModal">
        <div class="modal-content">
            <h1 style="margin-top: 5px;">Session About To Timeout</h1>
            <p>You will be automatically logged out in 1 minute.<br>
            To remain logged in, please click continue.</p>
            <span id="btnStayLoggedIn" class="button">Continue</span>
        </div>
    </div>
    {{/if}}
    <nav class="navbar navbar-default container-fluid" id="navbar">
        <ul class="nav navbar-nav">
            <li><img src="logo_noBackground.png" style="padding: 10px; margin-right: 20px;" alt="logo"></li>
            {{#if loggedin}}
            <li><a href="/dash" class="navtext">DASHBOARD</a></li>
            <li><a href="/search" class="navtext">SEARCH ASSETS</a></li>
            {{#if isAssetAdmin}}
            <li><a href="/new_asset" class="navtext">ADD ASSETS</a></li>
            <li><a href="/upload_csv" class="navtext">UPLOAD</a></li>
            {{/if}}
            {{#if isUserAdmin}}
            <li><a href="/display_users" class="navtext">VIEW USERS</a></li>
            <li><a href="/new_user" class="navtext">ADD USER</a></li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding: 10px;">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 5px; margin-right: 20px; font-size: 20px; color: black;">{{firstname}} {{lastname}} <span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: rgb(53, 53, 53);">
                    <li><a href="/account_info" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-cog"></span> General Account Settings</a></li>
                    <li><a href="/reset_pwd" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                </ul>
            </li>
            {{else}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auth" class="font1 signin_button" style="margin-right: 20px;">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
            </ul>
            {{/if}}
        </ul>
    </nav>
    {{#if loggedin}}
    <div class="form_container">
        <form class="form" action="reset_pwd_result" method="get">
            <h2>Change Password</h2>
            <p>Enter your new password for your SalubrisBio Asset Management account.</p><br>        
            <p>Current Password <input input type="password" class="textbox" type="text" name="curr" required></p>
            <p>New Password <input type="password" class="textbox" name="new" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters" required></p>
            <p>Confirm Password <input type="password" class="textbox" type="text" name="confirm" required></p>
            <p>{{failmsg}}</p>
            <button type="submit" id="submit_button" class="button">Change Password</button>
        </form>
    </div>
    {{else}}
        {{#if verified}}
            <div class="form_container">
                <h3>Email {{email}} has been successfully verified.</h3>
                <form class="form" action="reset_pwd_result" method="get">
                    <h2>Change Password</h2>
                    <p>Enter your new password for your SalubrisBio Asset Management account.</p><br>        
                    <p>New Password <input type="password" class="textbox" name="new" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number, one uppercase and lowercase letter, and at least 8 or more characters" required></p>
                    <p>Confirm Password <input type="password" class="textbox" type="text" name="confirm" required></p>
                    <p>{{failmsg}}</p>
                    <button type="submit" id="submit_button" class="button">Change Password</button>
                </form>
            </div>
        {{else}}
        <div style="padding-right: 100px; padding-left: 100px;">
            <h1>Reset Password</h1>
            <h3>An identity verification link will be sent to {{hidden_email}}.</h3>
            <form method="get" action="send_email">
                <button type="submit" class="button">Send</button>
            </form>
            <p>{{successmsg}}</p>
        </div>
        {{/if}}
    {{/if}}
    <script type="text/javascript" src="./js/timeout.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            setupTimers();
        });
    </script>
</body>
</html>