<!DOCTYPE html>
<html>
<head>
    <title>Search Assets</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default container-fluid" id="navbar">
        <ul class="nav navbar-nav">
            <li><img src="logo_noBackground.png" style="padding: 10px; margin-right: 20px;" alt="logo"></li>
            <li><a href="#" class="navtext">DASHBOARD</a></li>
            <li><a href="/search" class="navtext">SEARCH ASSETS</a></li>
            {{#if isAssetAdmin}}
            <li><a href="/new_asset" class="navtext">ADD ASSETS</a></li>
            <li><a href="/upload_csv" class="navtext">UPLOAD</a></li>
            {{/if}}
            {{#if isUserAdmin}}
            <li><a href="#" class="navtext">VIEW USERS</a></li>
            <li><a href="/new_user" class="navtext">ADD USER</a></li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding: 10px;">
            {{#if loggedin}}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 5px; margin-right: 20px; font-size: 20px; color: black;">{{firstname}} {{lastname}} <span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: rgb(53, 53, 53);">
                    <li><a href="#" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-cog"></span> General Account Settings</a></li>
                    <li><a href="/reset_pwd" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                </ul>
            </li>
            {{else}}
                <li><form action="/auth" class="font1 signin_button" style="margin-right: 20px;">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></form></li>
            {{/if}}
        </ul>
    </nav>
    {{#if isAssetAdmin}}
    <div class="form_container">
        <form id="upload_form" class="form" action="upload_csv_result" method="post" enctype="multipart/form-data">
            <h2>Upload .csv file into asset database</h2><br>            
            <input type="file" name="filetoupload"><br>
            <button type="submit" id="submit_button" class="button">Upload</button>
        </form>
    </div>
    <p>{{msg}}</p>

    {{else}}
        <p class='font1'>You are not authorized to view this material. Please sign in and try again.</p>
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" async></script>
    <script type="text/javascript">
        function add_new() {
            if (document.getElementById('new_asset_wrapper').innerHTML != "") {
                document.getElementById('new_asset_wrapper').innerHTML = "";
            }
            else {
                var ajax_params = {
                    'url' : "/add_new",
                    'type' : "get",
                    'data' : {},
                    'success' : onServerResponse3
                }
                $.ajax( ajax_params ); 
                }
        }
        function onServerResponse3 (responseObj) {
            document.getElementById('new_asset_wrapper').innerHTML = responseObj;
        };
    </script> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>