<!DOCTYPE html>
<html>
<head>
    <title>Assets Complete List</title>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- 
         IMPORTANT ITEM #1 - THIS MUST BE IN THE HEADER.
         THIS IS THE CORE BOOTSTRAP CSS FROM A CDN
     --> 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="css/app.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default container-fluid" id="navbar">
        <ul class="nav navbar-nav">
            <li><img src="logo_noBackground.png" style="padding: 10px; margin-right: 20px;" alt="logo"></li>
            <li><a href="/dash" class="navtext">DASHBOARD</a></li>
            <li><a href="/search" class="navtext">SEARCH ASSETS</a></li>
            {{#if isAssetAdmin}}
            <li><a href="/new_asset" class="navtext">ADD ASSETS</a></li>
            <li><a href="/upload_csv" class="navtext">UPLOAD</a></li>
            {{/if}}
            {{#if isUserAdmin}}
            <li><a href="/display_users" class="navtext">VIEW USERS</a></li>
            <li><a href="/new_user" class="navtext">ADD USER</a></li>
            {{/if}}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="padding: 10px;">
            {{#if loggedin}}
            <li class="dropdown">
                <a href="/account_info" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 5px; margin-right: 20px; font-size: 20px; color: black;">{{firstname}} {{lastname}} <span class="caret"></span></a>
                <ul class="dropdown-menu" style="background-color: rgb(53, 53, 53);">
                    <li><a href="#" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-cog"></span> General Account Settings</a></li>
                    <li><a href="/reset_pwd" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-edit"></span> Change Password</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout" class="navbutton" style="color: white;"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                </ul>
            </li>
            {{else}}
                <li><form action="/auth" class="font1 signin_button" style="margin-right: 20px;">Sign In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></form></li>
            {{/if}}
        </ul>
    </nav>
    {{#if isUserAdmin}}
    <div id="table">
        <div class="container" id="main_table_container">
            <table id="main_table" class="table table-hover">
                <tr class="no_hover">
                    <th>Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>User Admin</th>
                    <th>Asset Admin</th>
                    <th></th>
                </tr>
                {{#each users}}
                    <tr>
                        <td>{{this.firstname}} {{this.lastname}}</td>
                        <td>{{this.username}}</td>
                        <td>{{this.email}}</td>
                        <td>
                        {{#if this.user_admin}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{/if}}
                        </td>
                        <td>
                        {{#if this.asset_admin}}
                            <span class="glyphicon glyphicon-ok"></span>
                        {{/if}}
                        </td>
                        <td><button type="button" onclick="edit_info('{{this.username}}')" class="btn btn-default">Edit</button>
                        <button type="button" onclick="delete_user('{{this.username}}')" class="btn btn-default">Delete</button></td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>
    {{else}}
        <p class='font1'>You are not authorized to view this material. Please sign in and try again.</p>
    {{/if}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" async></script>
    <script type="text/javascript">
        // FUNCTION FOR RESPONDING TO BUTTON PRESS
        // $("#toggle_").click(function(){
        //    $("#135").slideToggle();
        // });


        function edit_info(username) {
            var ajax_params = {
                'url' : "/edit_user_form",
                'type' : "get",
                'data' : {'username' : username},
                'success' : onServerResponse2
            }
            $.ajax( ajax_params ); 
        }
        function onServerResponse2 (responseObj) {
            document.getElementById('table').innerHTML = responseObj;
        };


        function delete_user(username) {
            if (confirm("Are you sure you want to delete this user?")) {
                var ajax_params = {
                    'url' : "/delete_user",
                    'type' : "get",
                    'data' : {'username' : username},
                    'success' : onServerResponseDelete
                }
                $.ajax( ajax_params ); 
            }
        }
        function onServerResponseDelete (responseObj) {
            document.body.innerHTML = responseObj;
        };
    </script>
        
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</body>
</html>